@tailwind base;
@tailwind components;
@tailwind utilities;
/* Стили скроллбара только для элементов с классом .custom-scroll */
.custom-scroll {
  scrollbar-width: thin;
  scrollbar-color: #343753 #23233c;
}

/* Для Chrome, Edge, Safari */
.custom-scroll::-webkit-scrollbar {
  width: 10px;
  background: #23233c;
  border-radius: 8px;
}
.custom-scroll::-webkit-scrollbar-thumb {
  background: linear-gradient(120deg, #343753 40%, #28294d 100%);
  border-radius: 8px;
  min-height: 60px;
  border: 2px solid #23233c;
}
.custom-scroll::-webkit-scrollbar-thumb:hover {
  background: #444466;
}
